@font-face {
    font-family: "Open Sans";
    src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Palatino";
    src: url(./fonts/pala.ttf);
}

* {
    transition: 0.1s all ease;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Open Sans";
    background-color: #f0f0f0;
}

button {
    border-radius: 0;
    border-style: none;
    background-color: #0000;
    font-family: inherit;
    cursor: pointer;
}

button,
select {
    color: inherit;
}

button svg {
    height: 100%;
    width: 100%;
}

.window-title {
    font-size: 14px !important;
}

/* Navbar ============================================ */
nav {
    height: 50px;
    padding: 5px;
    position: fixed;
    z-index: 5;
    top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c5c5c5;
    /* border-bottom: rgb(175, 175, 175) 1px solid; */
}

nav button {
    height: 40px;
    width: 40px;
    padding: 0;
}

nav button:hover {
    background-color: rgb(185, 185, 185);
}

nav button:active {
    background-color: rgb(175, 175, 175);
}

nav button svg {
    stroke: #000;
}

nav .nav-central {
    display: flex;
    flex-direction: row;
}

nav .nav-central .book-select {
    padding: 0 10px;
    font-size: 1.4em;
    width: auto;
}

/* Floating menus ================================== */

.floating-elements {
    display: none;
    flex-direction: column;
    top: 30px;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: calc(100% - 30px);
    background-color: rgba(0, 0, 0, 0.4);
}

.floating-elements > div {
    display: none;
    background-color: #e2e2e2;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 1px; */
    border: rgb(117, 117, 117) 1px solid;
}

.floating-elements .verse-selector {
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: calc(100% - 80px);
    max-height: 500px;
    padding: 8px;
    margin: auto;
    grid-template-columns: 130px 90px 90px;
    grid-template-rows: 30px auto;
}

.floating-elements .verse-selector .title {
    display: flex;
    padding-right: 12px;
}

.floating-elements .verse-selector .select {
    overflow-y: scroll;
    margin: 1px;
    background-color: #dadada;
}

.floating-elements .verse-selector .select div {
    height: 2em;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 0.75em;
    display: flex;
    background-color: rgb(206, 206, 206);
    margin: 4px;
    cursor: pointer;
    /* border: rgb(206, 206, 206) 1px solid; */
}

.floating-elements .verse-selector .select div:hover {
    background-color: rgb(195, 195, 195);
}

.floating-elements .verse-selector .select div.selected {
    background-color: rgb(185, 185, 185);
}

.floating-elements .verse-selector div span {
    margin: auto;
}

.floating-elements .menu {
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    max-width: 380px;
    margin: auto;
    padding: 10px;
}

.floating-elements .menu table td {
    padding: 3px;
}

.floating-elements .menu .switchButton {
    --on-color: #2d6;
    --off-color: #000;
    --unit-size: 3px;
    border-style: solid;
    border-color: var(--off-color);
    border-width: calc(var(--unit-size) * 0.5);
    padding: calc(var(--unit-size) * 0.5);
    height: calc(var(--unit-size) * 6);
    width: calc(var(--unit-size) * 11);
    background-color: inherit;
    border-radius: calc(var(--unit-size) * 3);
}

.floating-elements .menu .switchButton .circleInBtn {
    top: 0;
    position: relative;
    width: calc(var(--unit-size) * 4);
    height: calc(var(--unit-size) * 4);
    border-radius: calc(var(--unit-size) * 2);
    background: var(--off-color);
    transition: left 0.1s ease-in-out;
    left: 0px;
}

/* Main body ============================================== */

main {
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: row;
}

main section.content {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    font-family: "Sitka Text", "Abyssinica SIL", sans-serif;
    font-size: 28px;
    overflow-y: scroll;
}

main section.content > div {
    width: 100%;
}

main section.content h1 {
    font-size: 1.5em;
    margin-top: 0;
}

main section.content sup {
    color: #808080;
    font-size: 0.6em;
    cursor: pointer;
}

main section.content sup:hover {
    color: rgb(0, 126, 230);
}

main section.content p {
    margin: 0;
    text-align: justify;
    text-indent: 10px;
}

/* Context menu ================================= */

.contextMenu {
    padding: 1px;
    background-color: #f0f0f0;
    border: grey 1px solid;
    position: fixed;
    display: inline-block;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.5);
    z-index: 10;
}

.contextMenu button {
    width: 100%;
    font-family: "Segoe UI", "Open Sans";
    font-size: 18px;
    padding: 4px 8px;
}

.contextMenu button:hover {
    background-color: rgb(146, 192, 245);
}

.contextMenu button:disabled {
    color: grey;
    cursor: unset;
}

.contextMenu button:hover:disabled {
    background-color: #f0f0f0;
}

/* Searchbar ============================== */

main section.search {
    /* border-left: grey solid 1px; */
    width: 0;
    height: calc(100% - 50px);
    flex-shrink: 0;
    background-color: rgb(221, 221, 221);
    padding: 10px 0;
    margin-top: 50px;
    overflow: hidden;
}

main section.search .container {
    display: none;
}

main .search-resizer {
    width: 0;
    cursor: col-resize;
    height: 100%;
    flex-shrink: 0;
}

main section.search .input .first {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px #c4c4c4 solid;
    background-color: white;
}

main section.search .input .first input {
    width: calc(100% - 28px);
    height: 30px;
    border: none;
    background-color: transparent;
}

main section.search .input .first button {
    width: 28px;
    height: 28px;
}

main section.search .input .first button:hover {
    background-color: rgb(207, 207, 207);
}

main section.search .input .first button:active {
    background-color: rgb(180, 180, 180);
}

main section.search .input .second {
    margin-top: 5px;
}

main section.search .input select {
    border-radius: 0;
    border: 0px;
    border-bottom: 2px rgb(196, 196, 196) solid;
    background-color: rgb(229, 229, 229);
    width: 100%;
    padding: 2px;
}

main section.search .results {
    height: calc(100% - 90px);
    padding: 5px 0;
}

main section.search .results .temporary {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

main section.search .results .temporary p {
    color: grey;
}

main section.search .results p {
    margin: 0.25em 0 0.5em 0;
}

main section.search .results .results-list {
    overflow-y: scroll;
    height: calc(100% - 85px);
}

main section.search .results .results-list .result {
    padding: 7px;
    cursor: pointer;
}

main section.search .results .results-list .result:hover {
    background-color: rgb(196, 196, 196);
}

/* Dark Mode ========================= */

[darkMode="on"] {
    background-color: rgb(15, 15, 15);
    color: white;
}

[darkMode="on"] button {
    background-color: #fff0;
}

[darkMode="on"] nav {
    background-color: rgb(34, 34, 34);
}

[darkMode="on"] nav button:hover {
    background-color: rgb(70, 70, 70);
}
[darkMode="on"] nav button:active {
    background-color: rgb(80, 80, 80);
}

[darkMode="on"] nav button svg {
    stroke: #fff;
}

[darkMode="on"] .floating-elements > div {
    background-color: rgb(29, 29, 29);
    border: rgb(138, 138, 138) 1px solid;
}

[darkMode="on"] .floating-elements .verse-selector .select {
    background-color: rgb(37, 37, 37);
}

[darkMode="on"] .floating-elements .verse-selector .select div {
    color: white;
    background-color: rgb(49, 49, 49);
}

[darkMode="on"] .floating-elements .verse-selector .select div:hover {
    background-color: rgb(60, 60, 60);
}

[darkMode="on"] .floating-elements .verse-selector .select div.selected {
    background-color: rgb(70, 70, 70);
}

[darkMode="on"] .floating-elements .menu .switchButton {
    background-color: var(--on-color);
    border-color: var(--on-color);
}

[darkMode="on"] .floating-elements .menu .switchButton .circleInBtn {
    left: calc(var(--unit-size) * 5);
    background-color: white;
}

[darkMode="on"] .floating-elements .menu .switchButton {
    background-color: var(--on-color);
    border-color: var(--on-color);
}

[darkMode="on"] .floating-elements .menu .switchButton .circleInBtn {
    left: calc(var(--unit-size) * 5);
    background-color: white;
}

[darkMode="on"] .contextMenu {
    background-color: rgb(15, 15, 15);
}

[darkMode="on"] .contextMenu button {
    background-color: rgb(15, 15, 15);
}

[darkMode="on"] .contextMenu button:hover {
    background-color: rgb(4, 57, 117);
}

[darkMode="on"] .contextMenu button:hover:disabled {
    background-color: rgb(15, 15, 15);
}

[darkMode="on"] main section.search {
    background-color: rgb(58, 58, 58);
}

[darkMode="on"] main section.search .input .first {
    border: 1px rgb(59, 59, 59) solid;
}

[darkMode="on"] main section.search .input select {
    border-bottom: 2px rgb(83, 83, 83) solid;
    background-color: rgb(47, 47, 47);
}

[darkMode="on"] main section.search .results .results-list .result:hover {
    background-color: rgb(70, 70, 70);
}
