.floating-elements .verse-selector .select::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
.floating-elements .verse-selector .select::-webkit-scrollbar-corner,
.floating-elements .verse-selector .select::-webkit-scrollbar-track {
    /* background-color: rgb(191, 191, 191, 0); */
    background-color: #e2e2e2;
}
.floating-elements .verse-selector .select::-webkit-scrollbar-thumb {
    background-color: rgb(197, 197, 197);
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 10px;
}
.floating-elements .verse-selector .select::-webkit-scrollbar-thumb:hover {
    background-color: rgb(178, 178, 178);
}
.floating-elements .verse-selector .select::-webkit-scrollbar-thumb:active {
    background-color: rgb(163, 163, 163);
}
.floating-elements .verse-selector::-webkit-scrollbar-button:single-button {
    display: none;
    background: none;
    background-size: 0;
    height: 0;
    width: 0;
}
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:vertical:decrement,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:vertical:decrement:hover,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:vertical:decrement:active,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:vertical:increment,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:vertical:increment:hover,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:vertical:increment:active,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:horizontal:decrement,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:horizontal:decrement:hover,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:horizontal:decrement:active,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:horizontal:increment,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:horizontal:increment:hover,
.floating-elements
    .verse-selector
    .select::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    height: 0;
    width: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='0' height='0' fill='transparent'></svg>");
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: rgb(191, 191, 191, 0);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189);
    background-clip: padding-box;
    border: 2px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(173, 173, 173);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(158, 158, 158);
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: rgb(191, 191, 191, 0);
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(189, 189, 189)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(173, 173, 173)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(158, 158, 158)'><polygon points='50,00 0,50 100,50'/></svg>");
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(189, 189, 189)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(173, 173, 173)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(158, 158, 158)'><polygon points='0,0 100,0 50,50'/></svg>");
}
/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(189, 189, 189)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(173, 173, 173)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(158, 158, 158)'><polygon points='0,50 50,100 50,0'/></svg>");
}
/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(189, 189, 189)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(173, 173, 173)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(158, 158, 158)'><polygon points='0,0 0,100 50,50'/></svg>");
}

/* Dark Mode =================================== */
[darkMode="on"]
    .floating-elements
    .verse-selector
    .select::-webkit-scrollbar-corner,
[darkMode="on"]
    .floating-elements
    .verse-selector
    .select::-webkit-scrollbar-track {
    background-color: rgb(29, 29, 29);
}
[darkMode="on"]
    .floating-elements
    .verse-selector
    .select::-webkit-scrollbar-thumb {
    background-color: rgb(58, 58, 58);
}
[darkMode="on"]
    .floating-elements
    .verse-selector
    .select::-webkit-scrollbar-thumb:hover {
    background-color: rgb(77, 77, 77);
}
[darkMode="on"]
    .floating-elements
    .verse-selector
    .select::-webkit-scrollbar-thumb:active {
    background-color: rgb(92, 92, 92);
}
[darkMode="on"] ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
[darkMode="on"] ::-webkit-scrollbar-corner,
[darkMode="on"] ::-webkit-scrollbar-track {
    background-color: rgb(64, 64, 64, 0);
}
[darkMode="on"] ::-webkit-scrollbar-thumb {
    background-color: rgb(96, 96, 96);
    background-clip: padding-box;
    border: 2px solid transparent;
}
[darkMode="on"] ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(112, 112, 112);
}
[darkMode="on"] ::-webkit-scrollbar-thumb:active {
    background-color: rgb(128, 128, 128);
}
/* Buttons */
[darkMode="on"] ::-webkit-scrollbar-button:single-button {
    background-color: rgb(64, 64, 64, 0);
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}
/* Up */
[darkMode="on"] ::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}
[darkMode="on"]
    ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}
[darkMode="on"]
    ::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}
/* Down */
[darkMode="on"] ::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}
[darkMode="on"]
    ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}
[darkMode="on"]
    ::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}
/* Left */
[darkMode="on"] ::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");
}
[darkMode="on"]
    ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
}
[darkMode="on"]
    ::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}
/* Right */
[darkMode="on"] ::-webkit-scrollbar-button:single-button:horizontal:increment {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
}
[darkMode="on"]
    ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>");
}
[darkMode="on"]
    ::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}
